<!DOCTYPE html>
<html>
    <title>Intern Info</title>
    <head>
        <title></title>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <div class = "wrap">
            <div class ="header">
                <h1>
                    Interns Info
                </h1>
            </div>

            <div class = "navl">

            </div>

            <div class = "section">
                <%= yield %>
            </div>

            <div class = "navr">

            </div>

            <div class = "footer">
                Copyright © neeraj!!!!
            </div>
        </div>
    </body>
</html>
