<!DOCTYPE html>
<html>
    <title>Intern Info</title>
    <head>
        
    </head>
    <body>
        <div id = "wrap">
            <div id="header">
                <h1>
                    Interns Info
                    </h1>
            </div>

            <div id="navl">

            </div>

            <div id="section">
                <%= yield %>
            </div>

            <div id="navr">

            </div>

            <div id="footer">
                Copyright © neeraj!!!!
            </div>
        </div>
    </body>
</html>
