<form action="/add_intern" class="form-inline" method="POST">

	<strong>Name:-</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="text" placeholder="Intern Name ..." name="intern_name"> <br/><br/>

	<strong>Profile:-</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="text" placeholder="Intern Profile ..." name="profile"> <br/><br/>

	<strong>Working On:-</strong>&nbsp;&nbsp;&nbsp;
	<input type="text" placeholder="Intern Working on ..." name="working_on"> <br/><br/>
	
	<button type="submit" class="btn" name="add">Add Intern</button>
	
</form>